@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";

.site {
  a {
    $decoration: none;

    color: $body-color;
    text-decoration: $decoration;

    &:hover,
    &:active {
      text-decoration: $decoration;
    }
  }
}
