@import "../_variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footerHeight;
  line-height: $footerHeight; /* Vertically center the text there */
  background-color: #f5f5f5;
}
